/*======================================
//--//-->   Stile generale
======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
/*variabili,selezione testo e scrollbar*/
:root {
  --bg: #684b33; /*background color*/
  --color-text: white; /*colore del testo*/
  --bg-pages: rgb(243, 226, 226); /*colore delle pagine*/
  --color-title : rgb(9, 9, 49);/*color title*/
  --color-text1 : rgb(82, 77, 77); /*color text1*/
  --colore-secondario : #55b1f5; /*secondary color*/
  /*grandezze per div,immagini e ..*/
  --altezza:100vh;
  --larghezza:100%;
  --larghezza-immagini: 32vmax;
  /*grandezze per testo,padding,margin e border*/
  --size-testo: 1.2rem;
  --letter-spacing: 3px;
  --padding: 10px;
  --margin: 10px;
  --border: 1px solid red;
}
::selection {
  color: black;
  background:rgb(252, 215, 215);
}
/*preloader*/
#preloader {
   display: flex;
   justify-content: center;
   justify-items: center;
   align-items: center;
   background: var(--bg);
   min-height: 100vh;
   width: 100%;
   position:fixed;
   opacity: 1;
   z-index: 1001;
  }
  #preloader div {
    margin-left: 8px;
    width: 20px;
    border-radius: 50%;
    background: white;
    animation: preloader 1.1s infinite;
  }
  #preloader div:nth-child(1) {animation-delay: -0.24s;}
  #preloader div:nth-child(2) {animation-delay: -0.12s;}
  #preloader div:nth-child(3) {animation-delay: 0;}
  @keyframes preloader {
    0% {height: 40px;}
    50%, 100% {height: 20px;}
  }
/*======================================
//--//-->   Navbar
======================================*/
.logo img {
  --larghezza-immagini:10vmax;
  width: var(--larghezza-immagini);
}
.nav {
  z-index: 101;
}
.nav li::before{
     content: "";
     position: absolute;
     width: 0px;
     height: 2px;
     background: var(--color-text);
     top: 8vh; 
}
.nav li:hover::before {
  animation: border_bottom 1s ease-in-out;
}
 @keyframes border_bottom {
   from {
     width: 0px;
   } to {
     width: 30px;
   }
 }
 /*======================================
//--//-->   Homepage
======================================*/

.homepage{
  height: 100vh;
  background: url(/assets/sedie.jpg) no-repeat  center center/cover;
  z-index: -1001;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background-color: #79746c;
  background-blend-mode: multiply;
  flex-direction: column;
  position: relative;
}
.testo{position: absolute;top: 40%;}
.testo,p{
  font-size: 2.5vmax;
}
.testo,span {
  font-size: 2vmax;
  letter-spacing: 2px;
  font-family: 'Prompt', sans-serif;
  font-weight: bold;
  font-family: 'Waiting for the Sunrise, cursive';
}
.testo_items {display: none;}

span.typed-cursor{
    display: none;
}
/*======================================
//--//-->   About
======================================*/
#about {
  height: var(--altezza);
  font-size: var(--size-testo);
  color: var(--colore-testo1);
  letter-spacing: var(--letter-spacing);
}
#about .right {
  background: url(/assets/camillafiorita.jpeg)no-repeat  center center/cover;
  background-size: 30vmax; 
}
.container-animation {
  width: auto;
  height: 29vmax;
}
.container-animation .inner-image {
  width: 100%;
  height: 100%;
}
/*======================================
//--//-->   skills
======================================*/
.lavori {
  height: auto;
  color: var(--bg);
}
.lavori h1{
  text-align: center;
  padding: 15px;
}
.lavori p {
  font-size: 1rem;
  text-align: left;
}

/*======================================
//--//-->   galleria foto
======================================*/

.skills-list{align-items: center;justify-content: center;}
.skills-list li {
    list-style: none; 
    padding: 10px;
    background: var(--bg);
    margin: 10px;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
    z-index: 10;
}
.skills-list .filter-active {
    color: turquoise;
    transition: all 0.5s ease-in-out 0s;
}
.elenco-foto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background: url(/assets/provaulivoremove.png)no-repeat ;
}
.elenco-foto  img { display: none;}
.container-foto {
    margin-top: 7vh;
    width: 100%;
}
.container-foto .card-grid {
    --altezza: 250px;
    --larghezza: 270px;
    height: var(--altezza);
    width: var(--larghezza);
    padding: 20px;
    display: none;
}
.container-foto .card-grid img{width: 100%;height: 100%;}

/*======================================
//--//-->   slide
======================================*/
.slide {
  height: 100vh;
  color: var(--color-text);
  background: url(/assets/provaulivoremove.png)no-repeat ;
}
.slide,.titolo-slide{
  flex-direction: column;
  margin-bottom: 3rem;
  font-weight: 800;
  --size-testo:2.5rem;
  font-size: var(--size-testo);
  color: black;
  text-align: center;
  letter-spacing: var(--letter-spacing);
  padding: var(--padding);
}
#change{
  width: var(--larghezza-immagini);
  width: 37vmax;
  height: 35vmax;
  border-radius: 15px;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
#slider-image .container {
 /* background: url(/assets/provaulivoremove1.png)no-repeat ;
  background-position: right;*/
  
  height: 80vh;
}
.swiper-container {
  width: 500px;
  height: 500px;
  padding: 50px;
  background: rgba(0, 0,0, 0.75);
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 10px;
}
.swiper-button-next:after, .swiper-button-prev:after {color: var(--bg);}
.swiper-pagination-bullet-active {
  --swiper-pagination-color: #684b33;
 background: var(--swiper-pagination-color);
}
.swiper-pagination-bullet { background: white;}
 /*======================================
//--//-->   footer chat
======================================*/
#footer-chat-icon {
  position: fixed;
  bottom: 15px;
  right: -999px;
  transition: all 1s ease-out;
  z-index: 101;
  }
.icone {
  position: fixed;
  bottom: 45px;
  padding: 10px;
  right: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: 2s;
  height: 200px;
}
.compari {opacity: 1;animation: comparsa 2s;} /*far comparire icone al clicco*/

.icone i {
  font-size: 28px;
  font-weight: 800;
  color:#13110f;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s ease-out;
}
.icone i:hover{transform: scale(1.3);}
.footerend i:hover {transform:scale(1.3);}
 .fa-instagram:hover {color: #eb3c57;}
 .fa-facebook:hover {color: #3b5998;}
.fa-whatsapp:hover {color: #40c351;}
@keyframes comparsa {
  0% {height: 0;}
  33%{height: 90px;}
  66%{height: 140px;}
  100%{height: 200px;}
}
.footer-chat {
  border-radius: 50%;
  background: var(--bg);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.footer-chat i {
  font-size: 25px;
  font-weight: 800;
  color: white;
}

 .footerend{
  height: var(--altezza);
  height: 30vh;
  background: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
 }
 .footerend p{
   margin-top: 10px;
   font-size: var(--size-testo);
   color: white;
 }
 .footerend i {transition: 0.4s ease-out;}
 .footerend a{
  text-decoration: none;
   color: var(--bg);
   color:white;
   transition: 0.4s ease-out;
 }
 .footerend .icon{
   flex-direction: row;
 }
 .icon i{
   padding: 20px;
   font-size: 25px;
 }