@media (max-width: 1200px) {
/*======================================
//--//-->   Navbar
======================================*/
    .nav li:hover::before {animation: none;}
    .nav {position: fixed;}
    .nav .attiva {
      left: 0;
      height: auto;
      background:var(--bg);
      color: var(--colore-testo);
 }
}
@media (min-width:220px) and (max-width:800px) {
/*======================================
//--//-->   about
======================================*/
.container-animation {
  height: 20vmax;
  border: var(--border);
}
#immagine-zoom {
  width: 90vw;
 height: auto;
}
}
@media (max-width:450px){
  .homepage{
  height: 100vh;
  background: url(/assets/mobilehomepage.jfif) no-repeat  center center/cover;
  background-color: #ddccb0;
  background-blend-mode: multiply;
}
#about .paragrafo{
  font-size: 0.7rem;
}
}
/*======================================
//--//-->   skills lavori
======================================*/
@media (max-width: 320px) {
  .grid-3 {height: auto;}
}

@media (max-width: 970px) {
  .grid-3{ grid-template-columns: repeat(2, 1fr); grid-gap: 0.5rem; }
  
}
@media (max-width: 768px) {
  .grid-3 { grid-template-columns: repeat(1, 1fr);grid-gap: 0.5rem; }
  #skills {  height: 150vh;}
}
